<p id="notice"><%= notice %></p>

<p>
  <strong>Employee no:</strong>
  <%= @gokul_demo.employee_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gokul_demo.name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @gokul_demo.designation %>
</p>

<%= link_to 'Edit', edit_gokul_demo_path(@gokul_demo) %> |
<%= link_to 'Back', gokul_demos_path %>
