<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_forms_tamil_form.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @custom_forms_tamil_form.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @custom_forms_tamil_form.dob %>
</p>

<p>
  <strong>Place:</strong>
  <%= @custom_forms_tamil_form.place %>
</p>

<p>
  <strong>District:</strong>
  <%= @custom_forms_tamil_form.district %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @custom_forms_tamil_form.pincode %>
</p>

<%= link_to 'Edit', edit_custom_forms_tamil_form_path(@custom_forms_tamil_form) %> |
<%= link_to 'Back', custom_forms_tamil_forms_path %>
