<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_forms_sundar_form2.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @custom_forms_sundar_form2.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @custom_forms_sundar_form2.email %>
</p>

<%= link_to 'Edit', edit_custom_forms_sundar_form2_path(@custom_forms_sundar_form2) %> |
<%= link_to 'Back', custom_forms_sundar_form2s_path %>
