<p id="notice"><%= notice %></p>

<h1>Custom Forms Sundar Assign 4 Forms</h1>

<table>
  <thead>
    <tr>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Q4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_forms_sundar_assign_4_forms.each do |custom_forms_sundar_assign_4_form| %>
      <tr>
        <td><%= custom_forms_sundar_assign_4_form.Q1 %></td>
        <td><%= custom_forms_sundar_assign_4_form.Q2 %></td>
        <td><%= custom_forms_sundar_assign_4_form.Q3 %></td>
        <td><%= custom_forms_sundar_assign_4_form.Q4 %></td>
        <td><%= link_to 'Show', custom_forms_sundar_assign_4_form %></td>
        <td><%= link_to 'Edit', edit_custom_forms_sundar_assign_4_form_path(custom_forms_sundar_assign_4_form) %></td>
        <td><%= link_to 'Destroy', custom_forms_sundar_assign_4_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Forms Sundar Assign 4 Form', new_custom_forms_sundar_assign_4_form_path %>
