<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @custom_forms_sundar_assign_4_form.Q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @custom_forms_sundar_assign_4_form.Q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @custom_forms_sundar_assign_4_form.Q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @custom_forms_sundar_assign_4_form.Q4 %>
</p>

<%= link_to 'Edit', edit_custom_forms_sundar_assign_4_form_path(@custom_forms_sundar_assign_4_form) %> |
<%= link_to 'Back', custom_forms_sundar_assign_4_forms_path %>
