<h1>Search#school</h1>
<p>Find me in app/views/search/school.html.erb</p>
<%= debug @city %>
<%= debug @schools %>

<% @schools.each do |sch| %>
	<%= link_to sch.name,search_section_path(:school => sch.id), {:method => :post}  %> - <%= sch.location %> -  <%= sch.city %>
<% end %>
