<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @karthick_demo.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @karthick_demo.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @karthick_demo.gender %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @karthick_demo.skills %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @karthick_demo.interests %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @karthick_demo.hobbies %>
</p>

<%= link_to 'Edit', edit_karthick_demo_path(@karthick_demo) %> |
<%= link_to 'Back', karthick_demos_path %>
