<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.DOB %>
</p>

<p>
  <strong>Dojs:</strong>
  <%= @student.DOJS %>
</p>

<p>
  <strong>Admission no:</strong>
  <%= @student.admission_no %>
</p>

<p>
  <strong>Exam reg no:</strong>
  <%= @student.exam_reg_no %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @student.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @student.street2 %>
</p>

<p>
  <strong>Location:</strong>
  <%= @student.location %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @student.pincode %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @student.father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @student.mother_name %>
</p>

<p>
  <strong>Father occupation:</strong>
  <%= @student.father_occupation %>
</p>

<p>
  <strong>Mother occupation:</strong>
  <%= @student.mother_occupation %>
</p>

<p>
  <strong>Father qualification:</strong>
  <%= @student.father_qualification %>
</p>

<p>
  <strong>Mother qualification:</strong>
  <%= @student.mother_qualification %>
</p>

<p>
  <strong>Parent work street1:</strong>
  <%= @student.parent_work_street1 %>
</p>

<p>
  <strong>Parent work street2:</strong>
  <%= @student.parent_work_street2 %>
</p>

<p>
  <strong>Parent work location:</strong>
  <%= @student.parent_work_location %>
</p>

<p>
  <strong>Parent work city:</strong>
  <%= @student.parent_work_city %>
</p>

<p>
  <strong>Parent work pincode:</strong>
  <%= @student.parent_work_pincode %>
</p>

<p>
  <strong>Father mobile1:</strong>
  <%= @student.father_mobile1 %>
</p>

<p>
  <strong>Father mobile2:</strong>
  <%= @student.father_mobile2 %>
</p>

<p>
  <strong>Father work ph:</strong>
  <%= @student.father_work_ph %>
</p>

<p>
  <strong>Mother mobile1:</strong>
  <%= @student.mother_mobile1 %>
</p>

<p>
  <strong>Mother mobile2:</strong>
  <%= @student.mother_mobile2 %>
</p>

<p>
  <strong>Mother work ph:</strong>
  <%= @student.mother_work_ph %>
</p>

<p>
  <strong>Sibling1:</strong>
  <%= @student.sibling1 %>
</p>

<p>
  <strong>Sibling2:</strong>
  <%= @student.sibling2 %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.section_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
