<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_forms_admission_form.name %>
</p>

<p>
  <strong>Fathers name:</strong>
  <%= @custom_forms_admission_form.fathers_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @custom_forms_admission_form.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @custom_forms_admission_form.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @custom_forms_admission_form.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @custom_forms_admission_form.address %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @custom_forms_admission_form.phone_no %>
</p>

<%= link_to 'Edit', edit_custom_forms_admission_form_path(@custom_forms_admission_form) %> |
<%= link_to 'Back', custom_forms_admission_forms_path %>
