<p id="notice"><%= notice %></p>

<p>
  <strong>Tt day:</strong>
  <%= @timetable.tt_day %>
</p>

<p>
  <strong>Tt period:</strong>
  <%= @timetable.tt_period %>
</p>

<p>
  <strong>Section:</strong>
  <%= @timetable.section_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @timetable.subject_id %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
