<p id="notice"><%= notice %></p>

<h1>Custom Forms Sanjeevi Forms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Dob</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_forms_sanjeevi_forms.each do |custom_forms_sanjeevi_form| %>
      <tr>
        <td><%= custom_forms_sanjeevi_form.name %></td>
        <td><%= custom_forms_sanjeevi_form.age %></td>
        <td><%= custom_forms_sanjeevi_form.dob %></td>
        <td><%= custom_forms_sanjeevi_form.address %></td>
        <td><%= custom_forms_sanjeevi_form.phone %></td>
        <td><%= custom_forms_sanjeevi_form.email %></td>
        <td><%= link_to 'Show', custom_forms_sanjeevi_form %></td>
        <td><%= link_to 'Edit', edit_custom_forms_sanjeevi_form_path(custom_forms_sanjeevi_form) %></td>
        <td><%= link_to 'Destroy', custom_forms_sanjeevi_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Forms Sanjeevi Form', new_custom_forms_sanjeevi_form_path %>
