<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_forms_sanjeevi_form.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @custom_forms_sanjeevi_form.age %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @custom_forms_sanjeevi_form.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @custom_forms_sanjeevi_form.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @custom_forms_sanjeevi_form.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @custom_forms_sanjeevi_form.email %>
</p>

<%= link_to 'Edit', edit_custom_forms_sanjeevi_form_path(@custom_forms_sanjeevi_form) %> |
<%= link_to 'Back', custom_forms_sanjeevi_forms_path %>
