<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @time_slot.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_slot.end_time %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @time_slot.desc %>
</p>

<p>
  <strong>Time tables:</strong>
  <%= @time_slot.time_tables_id %>
</p>

<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>
