<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sridhar_form.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sridhar_form.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @sridhar_form.sex %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @sridhar_form.dob %>
</p>

<p>
  <strong>Doj:</strong>
  <%= @sridhar_form.doj %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @sridhar_form.designation %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @sridhar_form.employer %>
</p>

<%= link_to 'Edit', edit_sridhar_form_path(@sridhar_form) %> |
<%= link_to 'Back', sridhar_forms_path %>
