<p id="notice"><%= notice %></p>

<p>
  <strong>Question1:</strong>
  <%= @custom_forms_kannan_form.question1 %>
</p>

<p>
  <strong>Question2:</strong>
  <%= @custom_forms_kannan_form.question2 %>
</p>

<%= link_to 'Edit', edit_custom_forms_kannan_form_path(@custom_forms_kannan_form) %> |
<%= link_to 'Back', custom_forms_kannan_forms_path %>
