<p id="notice"><%= notice %></p>

<h1>Custom Forms Anand Yogo Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Employer</th>
      <th>Dob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_forms_anand_yogo_lists.each do |custom_forms_anand_yogo_list| %>
      <tr>
        <td><%= custom_forms_anand_yogo_list.name %></td>
        <td><%= custom_forms_anand_yogo_list.age %></td>
        <td><%= custom_forms_anand_yogo_list.email %></td>
        <td><%= custom_forms_anand_yogo_list.gender %></td>
        <td><%= custom_forms_anand_yogo_list.employer %></td>
        <td><%= custom_forms_anand_yogo_list.dob %></td>
        <td><%= link_to 'Show', custom_forms_anand_yogo_list %></td>
        <td><%= link_to 'Edit', edit_custom_forms_anand_yogo_list_path(custom_forms_anand_yogo_list) %></td>
        <td><%= link_to 'Destroy', custom_forms_anand_yogo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Forms Anand Yogo List', new_custom_forms_anand_yogo_list_path %>
