<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_forms_anand_yogo_list.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @custom_forms_anand_yogo_list.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @custom_forms_anand_yogo_list.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @custom_forms_anand_yogo_list.gender %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @custom_forms_anand_yogo_list.employer %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @custom_forms_anand_yogo_list.dob %>
</p>

<%= link_to 'Edit', edit_custom_forms_anand_yogo_list_path(@custom_forms_anand_yogo_list) %> |
<%= link_to 'Back', custom_forms_anand_yogo_lists_path %>
