<% unless my_ilets.nil? %>
<% my_ilets.each do |ilets| %> <!-- Iterate following -->
<% ilets.each do |ilet| %>
<div class="card-body infolet_form">
    <div class="card-title d-sm-flex">
        <div class="profileImage1" style="align:center;">
                                <%= (ilet.student || ilet.teacher).email[0..0].capitalize %>
        </div>
        <b class="p-3"> <%= (ilet.student || ilet.teacher).first_name%>,<%=(ilet.student || ilet.teacher).last_name %></b> <span class="small p-3"> <%= (ilet.student || ilet.teacher).email %> ... <%= time_ago_in_words(ilet.created_at) %> ago </span>
    </div>

    <p class="card-text small">
        <% ilet.tag_list.each do |tag| %>
                <%= link_to "##{tag}",swimlane_discover_path(:tag => tag) %>
        <% end %>
        <%= ilet.content %>
     </p>
	<% ilc = ilet.comments.new %>
        <div class="card-footer text-black small infolet_form">
<%= image_tag 'comment.svg' %> <%= "#{ilet.comments.count} Total Submissions" %> - <%= "#{ilet.comments.where("student_id=?",current_student.id).count} self submissions" %>
        </div>
        <div class="small infolet_form" id="<%= ilc.object_id.to_s %>_hdiv"> <!-- comment card starts here -->
		<% unless ilet.comments.where("student_id=?",current_student.id).empty? %>
			<ul>
			<% ilet.comments.where("student_id=?",current_student.id).order(created_at: :asc).each do |comm| %>
				<li><%= (comm.student).first_name %>,<%= (comm.student).last_name%> : <%= comm.content %> </li>
			<% end %>
			</ul>
		<% else %>
        		<%= form_for ilc, :html => { id: ilc.object_id.to_s } do |il| %>
        			<div class="align-self-md-stretch">
         			<div class="comment_input">
                			<%= il.rich_text_area :content,{ class: "mb-2 comment_input_text", placeholder: 'Assignment submission here',id: "content_#{ilc.object_id.to_s}"} %>
               				 <%= il.hidden_field :parent_id, {value: ilet.id} %>
        			</div>
        			<div>
     			        <%= image_submit_tag 'logo1.svg',class: "btn mb-2 profileImage1 bg-light", style: "float:right;" %>
        			</div>
        			</div>
			<% end %>
		<% end %> 
        </div> <!-- comment card ends here -->
        </div> <!-- ilet body ends here -->
<% end %>
<% end %>
<% end %>
