<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sub_name %>
    <%= form.text_field :sub_name %>
  </div>

  <div class="field">
    <%= form.label :syllabus %>
    <%= form.text_area :syllabus %>
  </div>

  <div class="field">
    <%= form.label :ay_start %>
    <%= form.date_select :ay_start %>
  </div>

  <div class="field">
    <%= form.label :ay_end %>
    <%= form.date_select :ay_end %>
  </div>

  <div class="field">
    <%= form.label :section_id %>
    <%= form.text_field :section_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
