<%= form_with(model: sundar_form, local: true) do |form| %>
  <% if sundar_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sundar_form.errors.count, "error") %> prohibited this sundar_form from being saved:</h2>

      <ul>
        <% sundar_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.text_area :profile %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
