<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @teacher.DOB %>
</p>

<p>
  <strong>Dojs:</strong>
  <%= @teacher.DOJS %>
</p>

<p>
  <strong>Staff no:</strong>
  <%= @teacher.staff_no %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @teacher.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @teacher.street2 %>
</p>

<p>
  <strong>Location:</strong>
  <%= @teacher.location %>
</p>

<p>
  <strong>City:</strong>
  <%= @teacher.city %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @teacher.pincode %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @teacher.qualification %>
</p>

<p>
  <strong>Family work street1:</strong>
  <%= @teacher.family_work_street1 %>
</p>

<p>
  <strong>Family work street2:</strong>
  <%= @teacher.family_work_street2 %>
</p>

<p>
  <strong>Family work location:</strong>
  <%= @teacher.family_work_location %>
</p>

<p>
  <strong>Family work city:</strong>
  <%= @teacher.family_work_city %>
</p>

<p>
  <strong>Family work pincode:</strong>
  <%= @teacher.family_work_pincode %>
</p>

<p>
  <strong>Family mobile1:</strong>
  <%= @teacher.family_mobile1 %>
</p>

<p>
  <strong>Family mobile2:</strong>
  <%= @teacher.family_mobile2 %>
</p>

<p>
  <strong>Family work ph:</strong>
  <%= @teacher.family_work_ph %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @teacher.subject_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
