<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @school.location %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>Board:</strong>
  <%= @school.board %>
</p>

<p>
  <strong>Level:</strong>
  <%= @school.level %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @school.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @school.street2 %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @school.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @school.phone2 %>
</p>

<p>
  <strong>Mobile1:</strong>
  <%= @school.mobile1 %>
</p>

<p>
  <strong>Mobile2:</strong>
  <%= @school.mobile2 %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
