<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @uma849_form5.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @uma849_form5.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @uma849_form5.sex %>
</p>

<%= link_to 'Edit', edit_uma849_form5_path(@uma849_form5) %> |
<%= link_to 'Back', uma849_form5s_path %>
