<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @custom_forms_sriram_english_q_paper.Q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @custom_forms_sriram_english_q_paper.Q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @custom_forms_sriram_english_q_paper.Q3 %>
</p>

<%= link_to 'Edit', edit_custom_forms_sriram_english_q_paper_path(@custom_forms_sriram_english_q_paper) %> |
<%= link_to 'Back', custom_forms_sriram_english_q_papers_path %>
