<%= form_with(model: infolet, local: true) do |form| %>
  <% if infolet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(infolet.errors.count, "error") %> prohibited this infolet from being saved:</h2>

      <ul>
        <% infolet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.text_field :teacher_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
